@using PagedList.Mvc
@model PagedList.PagedList<TryCatch.WebShop.Models.Article>

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>
<div id="listOfArticles">
    @Html.Partial("ListOfArticles")
</div>