<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="c:/logs/WebShop/"/>
  <targets async="true">
    <target name="infoLogfile" xsi:type="File" fileName="${logDirectory}/Log_${shortdate}.info.log" archiveFileName="${logDirectory}/archives/Log${shortdate}.info.log" archiveAboveSize="5024288" archiveNumbering="Sequence" concurrentWrites="true" layout="${longdate:universalTime=true} ${message} ${exception:format=tostring} ${level:uppercase=true}"/>
    <target name="errorLogfile" xsi:type="File" fileName="${logDirectory}/Log_${shortdate}.error.log" archiveFileName="${logDirectory}/archives/Log${shortdate}.error.log" archiveAboveSize="5024288" archiveNumbering="Sequence" concurrentWrites="true" layout="${longdate:universalTime=true} ${message} ${exception:format=tostring} ${level:uppercase=true}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoLogfile" />
    <logger name="*" minlevel="Error" writeTo="errorLogfile" />
  </rules>
</nlog>