body {
        
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 25px 50px 10px 90px;
    max-width: 700px;
}

.container-narrow > hr {
        margin: 30px 0;
    }
.masthead {
    max-width: 700px;
}
.navigation-buttons {
    margin: 10px 0 0 0;
}
.price-value {
    font-weight: bold;
}

#articlesOverview {
    max-width: 400px;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
